{% extends "template.html" %}

{% block head %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <script>
    $(function () {
        $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
    });
  </script>
        <script>
    $(function () {
        $('#datepicker2').datepicker({ dateFormat: 'yy-mm-dd' });
    });
  </script>
{% endblock %}

{% block title %}Budgets{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.first_name }}. Here are your current budgets.</p>
    <ul>
      {% for entry in budgets %}
  <li>${{ entry.dispincome }}: {{ entry.datestart }} - {% if entry.dateend %}{{ entry.dateend }} {% else %} Current {% endif %}</li>
        {% endfor %}
</ul>

{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

    <!-- Modal 4 - the second -->


                <div class="container">
                    <div class="row col">
                        <form method = "POST" enctype="multipart/form-data" action="/budget">
                            {% csrf_token %}
                            <h2>Income</h2>
                            <div class="form-inline row">
                            <div class="form-group col-sm-5">
                                <label for="dispincome">Name</label>
                                <input id="dispincome" type="text" name="incname" class="form-control">
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="dispincome">Amount</label>
                                <input id="dispincome" type="text" name="dispincome" class="form-control">
                            </div>
                            </div>
                            <div class="mb-3">
                                <p>Start Date: <input type="text" id="datepicker" name="startdate" class="form-control"></p>
                            </div>

                            <div class="mb-3">
                                <p>End Date: <input type="text" id="datepicker2" name="enddate" class="form-control"></p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="current" id="flexCheckDefault" name="current">
                                <label class="form-check-label" for="flexCheckDefault">
                                Current Disposable Income
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="dispincome">Disposable Income Total</label>
                                <input id="dispincome" type="text" name="dispincome" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" value="OK" name="budget" class="btn btn-primary">
                            </div>
                        </form>



                    </div>
                </div>

{% endblock %}